LINEAR_SEARCH_PATH=linear_search_2024-06-04_20-03-54   #exemplo
LINEAR_MSEARCH_PATH=linear_msearch_2024-06-04_19-39-44 #exemplo
PARALLEL_SEARCH=parallel_search_2024-06-04_19-32-27    #exemplo

FILE_PATH = ".\\squad-v1.1-pt-master\\contexts.json"
QUERIES_PATH = ".\\squad-v1.1-pt-master\\questions.json"
RESULT_ANSWERS_PATH = ".\\results\\answers.json"
RESULT_FOUND_PATH = ".\\results\\found.json"
LOGS_PATH = ".\\logs\\"